@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');


header {
	border: 1px black solid;
}

nav {
	border: 1px black solid;

}

#one {
	border: 1px black solid;
	padding: 2%;
}

#two {
	border: 1px black solid;
	padding: 2%;
}

footer{
	border: 1px black solid;
	padding: 2%;
}

body {
	background-color: white;
	font-family: 'Didact Gothic', sans-serif;
	border: 1px black solid;
	padding: 2%;
	font-size: 16px;

}

.hero {
	color: white;
	font-family: 'Didact Gothic', sans-serif;
	font-weight: bold;
	background: url("../images/KelliewithFountain.jpg");
  	background-size: cover;
  	height: 600px;
  	background-position: center -262px;
  	background-repeat: no-repeat;
}


}
h1, p {
	font-family: 'Didact Gothic', sans-serif;
	color: black;
}

a {
	text-decoration: none;
}

.text-wrapper {
	color: white;
	padding-top: 2px;
	text-align: center;
}

li {
	list-style: none;
	display: inline-block;
	margin: 0 5px;
}

h1 {
	font-size: 3em;
}

#slogan {
	font-family: 'Didact Gothic', sans-serif;
	text-decoration: bold;
	font-size: 2em;
}

button {
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1.5em;
}

#one {
	height: 20%;
	padding: 2%;

}

#two {
	clear: both;
}

.kellie {
	float: left;
	padding: 2%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.two-columns {
	vertical-align: top;
}

.three-columns {
	width: 30%;
	display: inline-block;
}

#group {
	width: 30%;
	padding: 2%;
}

#studio {
	width: 30%;
	padding: 2%;
}

#private {
	width: 30%;
	padding: 2%;
}


.img-container {
  position:relative;
  margin:auto;
}

.hover-text{
  display: none;  
  height:64%;
  width:62%;
  background-color:rgba(0,0,0,0.5);
  position:absolute;
  top:0;
  left:0;
  font-family:sans-serif;
  text-align:center;
  color:white;
  font-size:40px;
  padding:22% 0 0;
  margin:0;
}

.img-container:hover > .hover-text{
  display:block;

}

.hover-img{
  display: block;
  width: 62%;
}

@media only screen and (max-width: 1400px) {
	.hero {
		background-position: center center;
	}
}

@media only screen and (max-width: 720px) {

	ul {
		padding: 0;
	}
	li {
		text-align: center;
		display: block;
		font-size: 1.5em;
	}

	.three-columns {
		width: 100%;
		display: block;
		padding: 4px;
	}


	.two-columns {

		padding: 0;
	}

}
@media only screen and (max-width: 590px) {
	.kellie {
		width: 70%;
		padding: 0;
		float: none;
	}
}
@media only screen and (max-width: 450px) {
	
	.two-columns {
		display: block;
		width: 100%;
		padding: 0;
	}



		footer {
			text-align: center;
		}
}

