@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');


header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;

}

#one {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#two {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

footer{
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

body {
	background-color: white;
	font-family: 'Didact Gothic', sans-serif;
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;

}


.hero {
	color: white;
	font-family: 'Didact Gothic', sans-serif;
	text-decoration: bold;
	background: url("../images/KelliewithFountain.jpg");
  	background-size: cover;
  	height: 600px;
  	background-position: center center;
  	background-repeat: no-repeat;
}


}
h1, p {
	font-family: 'Didact Gothic', sans-serif;
	color: black;
}

a {
	text-decoration: none;
}

.text-wrapper {
	color: white;
	padding-top: 2px;
	text-align: center;
}

li {
	list-style: none;
	display: inline-block;
	margin: 0 10px;
}

h1 {
	font-size: 50px;
}

#slogan {
	font-family: 'Didact Gothic', sans-serif;
	text-decoration: bold;
	font-size: 30px;
}

button {
	font-family: 'Didact Gothic', sans-serif;
	font-size: 20px;
}